<h1 class="text-center">Welcome</h1>

<p ng-cloak>Thank you for installing {{(name.toLowerCase().indexOf('the') === 0) ? name : 'the ' + name}} Chrome Extension.</p>

<p>Here's a quick overview of all the things you can do:</p>

<ol class="list-unstyled">
  <li><p><a href="#home" ng-click="followLink($event)"><span class="fa fa-home fa-fw"></span>Home</a> is where you'll find your personalised news feed of stories that are relevant to your interests.</p></li>

  <li><p><a href="#reading-list" ng-click="followLink($event)"><span class="fa fa-bookmark fa-fw"></span>Reading List</a> is a convenient place that remembers stories you've chosen to read at another time.</p></li>

  <li><p><a href="#favourites" ng-click="followLink($event)"><span class="fa fa-star fa-fw"></span>Favourites</a> contains all of the stories that you've starred.</p></li>

  <li><p><a href="#settings" ng-click="followLink($event)"><span class="fa fa-cog fa-fw"></span>Settings</a> is the place to change which topics you are subscribed to, as well as how you are notified about new stories.</p></li>
</ol>

<p class="text-center"><button class="button button-default" ng-click="closeModal($event)">OK, got it. Show me my news!</button></p>
