<header>Shows
<span class="search-bar" ng-click="sortSeries()" ng-class="{'showTimes': isActive}"></i></span>
</header>

<div id="series" class="page-container">
<div class="hideSearch" ng-class="{'showSearch slideInDown animated': isActive}"><input type="search" ng-model="query" id="search" ng-model="search" placeholder="Filter shows by name or country" ng-class="{'bounceIn animated': isActive}"></div>


<div class="inner">
  	<div class="row">
 <div class="col-xs-4 series-image" ng-repeat="show in shows | filter:query | orderBy: 'name'">

<div class="card">

<div class="card-image" style="background-image: url({{show.image}})"></div>

 <div class="view-button">
                         <div class="col-xs-6" id="action" data-country="{{show.country}}">
                         <span class="qtip expand" data-title="Add show to favorites"><input ng-model="show.subscribed" ng-change="updateSubscriptions()" class="star" type="checkbox"></span></div>
                        <div class="col-xs-6" id="action"><span class="qtip expand" data-title="View Episodes"><a ng-click="viewShow(show)" class="somebutton"><i class="fa fa-list" aria-hidden="true"></i></a></span></div>
                    


                    </div>
                <div class="card-content">
                         <span class="card-title">{{show.name}}</span>
                    </div>

                   

 </div></div></div></div>




</div>
