
<header class="modal-header">{{name}} <span class="close-button" ng-click="closeModal($event)"><i class="fa fa-times"></i></span></header>

<div class="container show-inner">
<div class="card row card-inner">
<div class="col-xs-4 fullimage">
	<img src="assets/images/tierra2.jpg">
</div>
<div class="col-xs-8">
	<p class="about">{{description}}</p>

</div>

</div>

<div class="header"> Episodes </div>

<table class="episodes">
<tbody>
          <tr ng-repeat-start="person in people">
            <td>
              <button ng-if="person.expanded" ng-click="person.expanded = false">-</button>
              <button ng-if="!person.expanded" ng-click="person.expanded = true">+</button>
            </td>
            <td>{{person.name}}</td>
            <td>{{person.gender}}</td>
          </tr>
          <tr ng-if="person.expanded" ng-repeat-end="">
            <td colspan="3">{{person.details}}</td>
          </tr>
        </tbody>

</table>

</div>

