<header>Recent Subtitles</header>

<div id="home" class="page-container">

<section></section>
	<notifications-bar class="notifications" closeIcon="fa fa-times-circle"></notifications-bar>

	 <md-button ng-click="showNotify()" class="md-primary md-hue-1"> Default Link</md-button>


 		<md-button ng-click="geoBlocked()" class="md-raised md-primary md-hue-1">Not Available</md-button>


 		<md-button ng-click="getDuration()" class="md-raised md-primary md-red-1">Duration</md-button>

  <!-- <feed class="feed" empty-title="Choose topics you're interested in" empty-message="Your personal news feed will appear here. Topics can be subscribed to from <a href=&quot;#settings&quot;>settings</a>."></feed> -->
</div>
