<section class="empty-feed-message" ng-show="(feed | with:filterBy).length === 0">
  <h2 ng-bind-html="emptyTitle"></h2>
  <p ng-bind-html="emptyMessage"></p>
</section>

<section class="navbar navbar-fixed-top navbar-inverse" ng-show="(feed | with:filterBy).length">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a class="markas" href="" ng-click="markAllAsRead()"><span class="fa fa-check-square-o fa-fw"></span> Mark all as read</a></li>
      <li>

<div class="the-form">
      <div id="searchform">
  <label for="s">
    <i class="fa fa-search"></i>
  </label>
  <input type="text" value="" placeholder="search by title" ng-model="search.title" class="" id="s" />
</div></div>

</li>
    </ul>
  </div>
</section>

<a id="top" class="anchor"></a>


<div class="feed-item-list" ng-class="{'with-navbar': (feed | with:filterBy).length}">
  <article class="feed-item" ng-class="{read: item.read}" dir-paginate="item in feed |  filter:search | with:filterBy | itemsPerPage:10 track by $index">
    <header class="feed-item-header">
      <h2 class="feed-item-title"><a ng-href="{{item.link}}" ng-click="openLink(item, 'title')">{{item.title}}</a></h2>
    </header>

    <a ng-href="{{item.link}}" ng-click="openLink(item, 'image')">
      <div class="feed-item-inline-media" ng-show="item.inlineMedia && settings.inlineImages" ng-style="{backgroundImage: 'url(' + item.inlineMedia + ')'}"></div>
    </a>

    <p class="feed-item-snippet" ng-show="settings.articleSnippets">{{item.contentSnippet}}</p> 

    <footer class="clearfix">
      <span class="feed-item-date pull-left" am-time-ago="item.published['$t']"></span>

      <div class="tools pull-right">
        <div class="tool fa fa-bookmark fa-fw" ng-class="{selected: item.readLater}" ng-click="toggleReadLater(item)"></div>

        <div class="tool fa fa-star fa-fw" ng-class="{selected: item.favourite}" ng-click="toggleFavourite(item)"></div>

        <div class="tool fa fa-share fa-fw" ng-click="share(item)"></div>
      </div>
    </footer>
  </article>
</div>

<div class="text-center">
  <dir-pagination-controls
       max-size="7"
       on-page-change="scrollTo()"
       direction-links="false"
       boundary-links="true"
       template-url="../bower_components/angularUtils-pagination/dirPagination.tpl.html" >
    </dir-pagination-controls>

    </div>

