<div id="settings" class="page-container alt-bg">
  <section class="options-wrapper">
    <header>Display</header>

    <ul class="list-unstyled options-list">
      <li>
        <label class="control checkbox">
          <input type="checkbox" ng-model="settings.articleSnippets" ng-change="updateSettings()">
          <span class="control-indicator"></span>
          Show article snippets
        </label>
      </li>

      <li>
        <label class="control checkbox">
          <input type="checkbox" ng-model="settings.inlineImages" ng-change="updateSettings()">
          <span class="control-indicator"></span>
          Show article images
        </label>
      </li>

      <li>
        <label class="control checkbox">
          <input type="checkbox" ng-model="settings.openLinksInBackground" ng-change="updateSettings()">
          <span class="control-indicator"></span>
          Open links in the background
        </label>
      </li>
    </ul>
  </section>

  <section class="options-wrapper">
    <header>Notifications</header>

    <ul class="list-unstyled options-list">
      <li>
        <label class="control checkbox">
          <input type="checkbox" ng-model="settings.desktopNotifications" ng-change="updateSettings()">
          <span class="control-indicator"></span>
          Desktop notifications
        </label>
      </li>

      <li>
        <label class="control checkbox">
          <input type="checkbox" ng-model="settings.badgeIcon" ng-change="updateSettings()">
          <span class="control-indicator"></span>
          Badge browser icon
        </label>
      </li>

      <li>
        <label class="control radio">
          <input type="radio" name="badge-style" ng-model="settings.badgeStyle" ng-change="updateSettings()" ng-disabled="!settings.badgeIcon" value="dot">
          <span class="control-indicator"></span>
          Badge style: dot
        </label>
      </li>

      <li>
        <label class="control radio">
          <input type="radio" name="badge-style" ng-model="settings.badgeStyle" ng-change="updateSettings()" ng-disabled="!settings.badgeIcon" value="count">
          <span class="control-indicator"></span>
          Badge style: count
        </label>
      </li>
    </ul>
  </section>

  <section class="options-wrapper">
    <header>
     Subscriptions <span class="bulk-edit fa fa-ellipsis-h pull-right" ng-click="bulkEditSubscriptions()"></span>
    </header>

    <ul class="list-unstyled options-list">
      <li ng-repeat="feed in feeds track by $index">
        <label class="control checkbox">
          <input type="checkbox" ng-model="feed.subscribed" ng-change="updateSubscriptions()">
          <span class="control-indicator"></span>
          {{feed.name}}
        </label>
      </li>
    </ul>
  </section>
</div>
