<md-dialog aria-label="Caption Settings">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Customize Your Subs</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()" aria-label="Cancel">
         <i class="fa fa-times" aria-hidden="true"></i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        
                <span class="subtitle">Text Size</span>

                    <md-slider-container>


                 <md-slider flex min="16" max="40" ng-model="settings.textSize" aria-label="red" id="red-slider"  ng-change="updateCaptions()">
      </md-slider>
      <md-input-container>
        <input flex type="number" ng-model="settings.textSize" aria-label="blue" aria-controls="blue-slider">
      </md-input-container>

</md-slider-container>
 


        <span class="subtitle">Text Color</span>

                <md-radio-group ng-model="settings.textColor" ng-change="updateCaptions()">
      <md-radio-button ng-repeat="it in colorData"
                       ng-value="it.value"
                       aria-label="{{it.title}}"
                       ng-model="settings.textColor"
                        class="{{it.class}}">
      </md-radio-button>
    </md-radio-group>


        <span class="subtitle">Background Color</span>


        <md-radio-group ng-model="settings.backgroundColor" ng-change="updateCaptions()">
      <md-radio-button ng-repeat="it in avatarData"
                       ng-value="it.value"
                       aria-label="{{it.title}}"
                       ng-model="settings.backgroundColor"
                        class="{{it.class}}">
      </md-radio-button>
    </md-radio-group>

    <span class="sample-sub" style="background: {{settings.backgroundColor}}; color: {{settings.textColor}}; font-size: {{settings.textSize}}px;">Sample Subtitle</span>

   
      </div>
    </md-dialog-content>

   
</md-dialog>
