body {
	background: #fff;
	padding: 0;
	margin: 0;

}

img {
	max-width: 100%;
	height: auto;
}


.logo {
    width: 100%;
    position: fixed;
    background: #feca71;
    z-index: 999999;
    height: 100px;
}

.logo img {
	max-width: 100px;
	height: auto;
	    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

header {
	width: 100%;
	padding: 10px;
	background: #5b72fc;
	color: white;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	position: fixed;
			margin-top: 100px;
			    z-index: 999999;


}

.wrapper {
   height: 567px;
    margin-top: 142px;
    padding: 18px;
    width: 100%;
    overflow: scroll;
    background: white;
}


.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; }

  .nav-tabs.nav-justified>li {
    float: none;
    display: table-cell;
    width: 1%;
        border-left: 1px solid rgba(255,255,255,0.15);
        transition: 0.3s;
}

  .nav-tabs.nav-justified>li:hover,   .nav-tabs.nav-justified>li a.active{
  	background: rgba(0,0,0,0.05);
  }

tab-bar {
    background: #5b72fc;
}

  .nav-tabs.nav-justified>li a {
  	text-transform: uppercase;
	color: white;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	outline: none;

}



  .nav-tabs.nav-justified>li:first-child {
  	border: 0px;
}

  span.nav-tab-icon {
    display: block;
    margin-bottom: 5px;
        color: #feca71;
}


.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    border-color: transparent !important;
    /* letter-spacing: 1px; */
}


.card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

}



    .card .card-content {
    padding: 10px;
    border-radius: 0 0 2px 2px;
	font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 12px;
}


.card-image {
height: 85px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    background-position: top center;
}




.modal {
  padding: 15px;
  width: 100%;
  min-height: 100%;
  background-color: #fff;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 0;
  z-index: 1050;
  display: block;
  top: 142px;
}
.modal-up {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.1s linear;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 1040;
}
.backdrop.visible {
  visibility: visible;
}
.backdrop.active {
  opacity: 1;
}

.view-button .star {
visibility: hidden;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 14px;
    height: 14px;
}
.star:before {
   content: "\2606";
   position: absolute;
   visibility:visible;
       font-size: 18px;
    top: 4px;
}
.star:checked:before {
   content: "\2605";
   position: absolute;
}

.view-button {
    color: #fff;
    background: #feca71;
    text-align: center;
    position: relative;
    float: left;
    margin: 0 0 7px;
    width: 100%;
    font-size: 14px;
        border-top: 2px solid #efbe6a;
}

#action {
  padding-top: 7px;
  padding-bottom: 7px;
    border-right: 1px solid #efbe6a;


}

#action:last-child {
  border-right: 0px solid #5b72fc;

}

/* setup qtips */
.qtip {
  position: relative;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: 300;

}
.qtip:before,
.qtip:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.qtip:before {
  background: #5b72fc;
  color: #fff;
  content: attr(data-title);
  font-size: 10px;
  padding: 6px 10px;
    top: 40px;
  white-space: nowrap;
}

/* expand */
.qtip.expand:before {
  transform: scale3d(.2,.2,1);
  transition: all .2s ease-in-out;
}
.qtip.expand:after {
  transform: translate3d(0,6px,0);
  transition: all .1s ease-in-out;
}
.qtip.expand:hover:before,
.qtip.expand:hover:after {
  opacity: 1;
  transform: scale3d(1,1,1);
}
.qtip.expand:hover:after {
  transition: all .2s .1s ease-in-out;
}
