<header>Settings</header>
<div id="settings" class="page-container alt-bg">
  <section class="options-wrapper">
    <div class="set-header">Display</div>

    <ul class="list-unstyled options-list">

          <li>
        <label class="control checkbox">
          <span type="checkbox" ng-click="changeCaptions()">
          Subtitle Settings</span>
        </label>

      </li>



      <li>
       <label class="control checkbox">
         <span ng-click="showListBottomSheet()">Subtitle Language</span> 
         <input type="hidden" ng-model="settings.subLang" ng-change="updateSettings()">
         <i ng-bind="settings.subLang"></i> 
         </label>
      </li>

      <li>
        <label class="control checkbox control--checkbox">
          <input type="checkbox" ng-model="settings.inlineImages" ng-change="updateSettings()">
          <div class="control__indicator"></div>
          Show article images
        </label>
      </li>

      <li>
        <label class="control checkbox control--checkbox">
         Open links in the background
          <input type="checkbox" ng-model="settings.openLinksInBackground" ng-change="updateSettings()">
            <div class="control__indicator"></div>
         
        </label>
      </li>
    </ul>
  </section>

  <section class="options-wrapper">
    <div class="set-header">Notifications</div>

    <ul class="list-unstyled options-list">
      <li>
        <label class="control checkbox">
          <input type="checkbox" ng-model="settings.desktopNotifications" ng-change="updateSettings()">
          <span class="control-indicator"></span>
          Desktop notifications
        </label>
      </li>

      <li>
        <label class="control checkbox">
          <input type="checkbox" ng-model="settings.badgeIcon" ng-change="updateSettings()">
          <span class="control-indicator"></span>
          Badge browser icon
        </label>
      </li>

      <li>
        <label class="control radio">
          <input type="radio" name="badge-style" ng-model="settings.badgeStyle" ng-change="updateSettings()" ng-disabled="!settings.badgeIcon" value="dot">
          <span class="control-indicator"></span>
          Badge style: dot
        </label>
      </li>

      <li>
        <label class="control radio">
          <input type="radio" name="badge-style" ng-model="settings.badgeStyle" ng-change="updateSettings()" ng-disabled="!settings.badgeIcon" value="count">
          <span class="control-indicator"></span>
          Badge style: count
        </label>
      </li>
    </ul>
  </section>


</div>
